body {
    background-color : #c8ffcf;
}
h1,
p {
    align-content: center;
}
.login-box {
color : white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.678);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 20px;
    border-radius: 10px;
    color: white;
    position: fixed;
    width: 100%;
  }
  .nav-title {
    margin: 0; /* Remove default margin for h1 */
    float: left;
  }
  .title {
    transition: text-shadow 0.3s ease; /* Add transition for smooth effect */
  }
  
  .title:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Add a glow effect on hover */
    cursor: default;
  }
  .horizontal-nav {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin for ul */
    display: inline-flex;
  }
  
  .horizontal-nav li {
    margin: 0 10px;
  }
  
  .horizontal-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
  }